@use '../../variables' as *;

.tw-connect-wallet {
  background-color: $background-secondary !important; 
  color: $text-primary !important;                    
  border: 1px solid $border-color !important;
  padding: 10px 15px !important;
  border-radius: 20px !important;
  cursor: pointer;
  font-weight: bold;
  box-shadow: rgba(0, 230, 118, 0.4) 0px 5px 15px !important;
  transition: background-color 0.3s ease;
  margin-left: 20px !important;

  &:hover {
    background-color: $component-hover !important;
    box-shadow: rgba(29, 233, 182, 0.6) 0px 6px 20px !important;
  }
}

.tw-connected-wallet {
  border-radius: 20px !important;
  margin-left: 20px !important;
  background-color: $background-secondary !important;  
  color: $background-color !important;                
  border: 1px solid rgba($component-color, 0.5) !important;  
  transition: border-color 0.3s ease, box-shadow 0.3s ease;

  &:hover {
    border-color: $component-hover !important;
    box-shadow: rgba(29, 233, 182, 0.6) 0px 6px 20px !important;
  }
}

