$primary-color: #fff8f8;
$hover-color: #eeeff0;
$border-radius: 20px;
$box-shadow: rgba(132, 131, 131, 0.2) 0px 5px 15px;

.tw-connect-wallet {


    background-color: $primary-color !important;
    color: rgb(34, 33, 33) !important; 
    border: none !important;
    padding: 10px 15px !important; 
    border-radius: $border-radius !important;
    cursor: pointer;
    font-weight: bold;
    box-shadow: $box-shadow !important;
    transition: background-color 0.3s;
    margin-left: 20px !important;
    &:hover {
        background-color: $hover-color !important;
    }
}
.tw-connected-wallet {
    border-radius: $border-radius !important;
    margin-left: 20px !important;
    &:hover {
        background-color: $hover-color !important;
    }
}