.header{
    display: flex;
    width: 100%;
    height: 50px;
    &__logo{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 200px;
        transition: 'all 0.3s ease';
        &--active{
            width: 80px;
             transition: 'all 0.3s ease';
        }
        

    }
    &__logo img{
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
    &__nav{
        display: flex;
        flex: 1;
        justify-content: space-between;
        align-items: center;
        &__left{
            display: flex;
            align-items: center;
            
        }
        &__left .search{
            margin-left: 50px;
            cursor: pointer;
            
        }
        &__left .control{
            cursor: pointer;
            
        }
        

    }

    
}
.content{
    padding: 20px;
}