@use "../../../../variables.scss" as *;

.NotifyContent {
  background-color: $background-secondary;

  border-radius: 12px;
  padding-bottom: 40px;
  color: $text-primary;
  
  &__Title {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 16px;
    padding: 20px;
    background-color: rgb(78, 92, 92);
  
    

    &__Icon img {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    }

    &__Symbol {
      font-weight: 600;
      font-size: 20px;
      color: $text-primary;
    }
  }

  &__Input {
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    align-content: center;
    justify-content: center;
    gap: 6px;

    &__Label  {
      
      font-size: 20px;
      color: $text-primary;
      font-weight: 600;
      transition: 0.5s;
      &:hover{
        
        color: $component-hover;
      }
    }

    &__Value__Input {
      width: 100%;
      color: white !important;
      background-color: transparent !important;
      border-color: aliceblue !important;
      font-size: 20px;
      margin-bottom: 30px;
      font-weight: bold;
      &:focus,&::placeholder,&:hover {
        background-color: transparent !important;
        border-color: $component-hover !important;
      }
      input {
        color: white !important;
      }
      .ant-input-number-handler-wrap {
        background-color: transparent;
        display: flex;
        flex-direction: column;

        .ant-input-number-handler {
          height: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          color: $text-primary; // màu icon
          background-color: $component-hover; // nền
          border-top: 1px solid #ccc;

          &:hover {
            background-color: $component-hover;
          }
        }


       }

      
      }

    }
  &__Submit{
    padding-left: 20px;
    padding-right: 20px;
    &__Button{
      background-color: $component-color;
      padding: 20px;
      width: 100%;
      &:hover{
        background-color: $component-hover !important;
      }
    }
  }
}
