.BoxCoin-item{
    padding: 15px;
    border-radius: 10px;
    height: 120px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s;
    cursor: pointer;
    display: flex;
    
    &__header{
        padding-left: 20px;
        display: flex;
        align-items: center;
        margin-right: 50px;
        &__title{
            font-size: 24px;
            font-weight: bold;
            color: #333;
            margin-left: 5px ;
        }
        &__icon{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background-color: #f0f0f0;
            img{
                width: 30px;
                height: 30px;
            }
            :hover{
                box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
                border-radius: 50%;
                transform: scale(1.2);
              
            }
        }
    }
    &__body{
        display: flex;
        flex-direction: column;
        
        
        
        &__top{
            display: flex;
            width: 100%;
            &__price{
                font-size: 20px;
                font-weight: bold;
                color: #333;
            }
            &__change{
                font-size: 16px;
                color: #999;
                &--up{
                    color: green;
                }
                &--down{
                    color: red;
                }
            }
        }
        &__bottom {
            &__buy {
                .button {
                    background: linear-gradient(90deg, #4e8667, #0b7c2d); 
                    border: none; 
                    color: white;
        
                    
                }
                
            }
            
        }
       
    }

}