@use '../../../../variables.scss' as*;

.ListSymbol {
  display: flex;
  flex-direction: column;
  background-color: $background-secondary;
  border-radius: 8px;
  height: 100%;
  overflow-y: auto;
  color: $text-primary;

  &__item {
    padding: 10px;
    border-radius: 4px;
    transition: background-color 0.3s;
    cursor: pointer;

    &:hover {
      background-color: rgba($component-hover, 0.3);
    }

    &--active {
      background-color: rgba($component-color,0.6);
      
      color: $background-color;
      font-weight: 600;
    }
  }
}



.custom-search-input {
  
  .ant-input-search-button {
    background-color: $component-color !important;
    color: $background-color !important;
    border-color: rgba($component-color, 0.4);
    font-weight: 700 !important;
    border-radius: 0 6px 6px 0 !important;

    &:hover,
    &:focus {
      background-color: $component-hover !important;
      border-color: rgba($component-hover, 0.6);
      color: $background-secondary !important;
    }
  }

  .ant-input-outlined{
     .ant-input{
      color: $text-primary;
      &::placeholder {
      color: $text-primary !important; 
      opacity: 1;
    }
     }
    
    background-color: $background-secondary;
    border-color: rgba($component-color, 0.4);
    &:hover,
    &:focus {
    border-color: rgba($component-hover, 0.6);
    }
  }

 
}


